.grid12 {
  margin-bottom: 20px;
}
.grid12 .column4 div {
  background: #ccc;
  text-align: center;
}
.sg-responsive > div:first-child [class*=show],
.sg-responsive > div:last-child [class*=hide] {
  color: #3d6c2a;
  background: #dff0d8;
}
.sg-responsive > div > div {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  text-align: center;
  margin: 10px 0;
}
.sg-responsive > div > div span {
  display: block;
  padding: 10px;
}
.sg-00-core-02-ctas-00-buttons .sg-showcode table {
  width: 100%;
}
.sg-00-core-02-ctas-00-buttons .sg-showcode th {
  text-align: left;
}
